---
layout: archive
title: "Research Interests"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% include base_path %}
<p>Computer Science Education; Learning Analytics; Educational Data Mining; AI in Education</p>

<p><strong><span style='font-size:32px;'>Grants</span></strong></p>
<ul>
    <li><strong>Co-PI</strong>, <span style='font-size:24px;'>ALTER-Math: AI-augmented Learning by Teaching to Enhance and Renovate Math Learning, Rockefeller Philanthropy Advisors, $24,780, September 2024 &ndash; August 2025</span></li>
</ul>
<p><br></p>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
